#mainform{
    margin: 10px 10px 15px 10px;
    padding: 10px 10px 10px 10px;;
    resize: none;
    background-color: #F0F8FF;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}

.tofro{
    height: 35px;
    width: 140px;
    background-color: #F0F8FF;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}

.send{
    height: 35px;
    width: 140px;
    background-color:rgb(146, 240, 122);
    border-radius: 6px;
    border: none;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
    
}

.send:hover{
    background-color:rgb(138, 241, 11);
}

.secdiv{
    height:max-content;
    width:max-content;
    display: flex;
    gap: 10px;
    margin: 20px;

}

#img1{
    height: 80px;
    width: 120px;

}

body{
    margin: 10px;
    background-color: #483c32;
    user-select: none;
    height: 100%;
    width: 100%;
    overflow-x: hidden
}

.maindiv{
    margin: auto auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: max-content;
    width: max-content;
    padding: 10px 10px 10px 10px;
    background-color: #6abea7;
    border-radius: 5px;
}

#messdiv{
    height: 260px;
    width: 300px;
    display: flex;
    flex-direction: column;
    color: black;
    list-style: none;
    gap: 10px;
    padding: 25px;
    margin: 20px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);

}


.unlist{
    margin: 20px;
    height: fit-content;
    width:fit-content;
    margin:2px;
    background-color: #fed799;
    padding: 10px;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);

}
.unlist:hover{
    background-color: crimson;
    color:white;
}

#sentid, #senderid{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    }

#messid{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: bold;
    }